// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background: #fbe;
	margin: 0 10%;
	width: 80%;
}

h1 {
	text-align: center;
}

img {
	width: 100%;
}